<?xml version='1.0' encoding='utf-8'?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-sharescreen"
    version="1.0.0">
    <name>cordova-plugin-sharescreen</name>
    <description>
        Qbix cordova plugin for share screen.
    </description>

    <dependency id="cordova-plugin-add-swift-support" url="https://github.com/Qbix/cordova-plugin-add-swift-support.git"/>
    

    <!-- <dependency id="cordova-plugin-iosrtc" url="https://github.com/cordova-rtc/cordova-plugin-iosrtc.git"/> -->
    
    <js-module name="CordovaPluginSharescreen" src="www/sharescreen.js">
        <clobbers target="cordova.plugins.sharescreen" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginSharescreen">
                <param name="android-package"
                    value="com.qbix.sharescreen.CordovaPluginSharescreen" />
            </feature>
            <preference name="android-minSdkVersion" value="21" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <source-file src="src/android/CordovaPluginSharescreen.java" target-dir="src/com/qbix/sharescreen" />
        <source-file src="src/android/WebRtcClient.java" target-dir="src/com/qbix/sharescreen" />

        <framework src="org.webrtc:google-webrtc:1.0.27771" />
        <framework src="com.google.code.gson:gson:2.8.6" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPluginSharescreen">
                <param name="ios-package" value="CordovaPluginSharescreen" />
            </feature>
        </config-file>

        <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
          <array>
            <string>group.__APP_IDENTIFIER__</string>
          </array>
        </config-file>
        <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
          <array>
            <string>group.__APP_IDENTIFIER__</string>
          </array>
        </config-file>

        <source-file src="src/ios/ShareExtension/IceCandidate.swift"/>
        <source-file src="src/ios/ShareExtension/Message.swift"/>
        <source-file src="src/ios/ShareExtension/SessionDescription.swift"/>
        <source-file src="src/ios/ShareExtension/SignalingClient.swift"/>

        <header-file src="src/ios/CordovaPluginSharescreen.h" />
        <source-file src="src/ios/CordovaPluginSharescreen.m" />

        <hook type="before_plugin_install" src="hooks/npmInstall.js" />
        <hook type="before_plugin_install" src="hooks/iosCopyShareExtension.js" />
        <hook type="after_plugin_install" src="hooks/iosAddTarget.js" />
        <hook type="after_plugin_install" src="hooks/fixAppEntitlements.js"/>
        <hook type="after_plugin_install" src="hooks/setConstants.js"/>
        <hook type="before_plugin_uninstall" src="hooks/iosRemoveTarget.js" />

        <framework src="GoogleWebRTC" type="podspec" spec="~> 1.1"/>
    
    </platform>
</plugin>
